
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}
@font-face {
    font-family: Kenia;
    src:url(Typeface/Kenia-Regular.ttf);
}

body {
    background-color: rgb(0, 0, 0);
  }

h1{
color: white;
font-family: "evolver-variable", sans-serif;
font-variation-settings: "slnt" 0, "wght" 500;
font-size: 90px;
margin-left:10vw;
margin-top: 2%;
line-height: 1.5;
animation-name: Test1;
animation-duration: 10s;
animation-timing-function: linear;
animation-iteration-count: infinite;



}
.container {
    background-color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 2vw;

    
   
}



.Dream-1{
    position: relative;
    width: fit-content;
    border: 1px solid white;
    height: 300px;
    width: 300px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
    
    
}
.Dream-1:hover {
    transform: rotate(15deg);
  }

.Dream-1 .overlay-text{
    position: absolute;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;

}
.Dream-1:hover .overlay-text {
    opacity: 0;
  }
  


  .Dream-2{
    position: relative;
    width: fit-content;
    border: 1px solid white;
    height: 300px;
    width: 300px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

.Dream-2:hover {
    transform: rotate(15deg); /* Rotate element on hover */
}

.Dream-2 .overlay-text{
    position: absolute;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.Dream-2:hover .overlay-text {
    opacity: 0; /* Change opacity on hover */
}




.Dream-3{
    position: relative;
    width: fit-content;
    border: 1px solid white;
    height: 300px;
    width: 300px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);

}

.Dream-3:hover {
    transform: rotate(15deg); /* Rotate element on hover */
}

.Dream-3 .overlay-text{
    position: absolute;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.Dream-3:hover .overlay-text {
    opacity: 0; /* Change opacity on hover */
}

.Dream-4{
    height: 300px;
    width: 300px;
    padding: 5%;

}

.Dream-5{
    height: 300px;
    width: 300px;
    padding: 5%;

}

.Dream-6{
    height: 300px;
    width: 300px;
    padding: 5%;

}

.Dream-7{
    height: 300px;
    width: 300px;
    padding: 5%;

}

@keyframes Test1 {
    0% {
        transform: perspective(500px) rotateX(0deg) rotateY(0deg);
      }
      50% {
        transform: perspective(500px) rotateX(180deg) rotateY(180deg);
      }
      100% {
        transform: perspective(500px) rotateX(360deg) rotateY(360deg);
      }
}