
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

h1{
font-family: field-gothic-compact, sans-serif;
font-style: oblique;
font-weight: 700;
font-weight: 200;
font-size: 100px;
margin-left:10vw;

}
.container {
    background-color: rgb(255, 255, 255);
    padding: 5%;
    border: solid 4px rgb(22, 22, 246);
    display:flexbox;
  
    
   
}

.Dream-1{
    height: 300px;
    width: 300px;
    margin-left: 2vw;
    border: 2px solid #e0e0e0;
    
   
    
    
}


.Dream-2{
    height: 300px;
    width: 300px;
    margin-left: 2vw;
    border: 2px solid #e7e7e7;

 



}

.Dream-3{
    height: 300px;
    width: 300px;
    margin-left: 2vw;
    border: 2px solid white;

}

.Dream-4{
    height: 300px;
    width: 300px;
    margin-left: 2vw;
    border: 2px solid white;

}

.Dream-5{
    height: 300px;
    width: 300px;
    margin-left: 2vw;
    border: 2px solid white;

}

.Dream-6{
    height: 300px;
    width: 300px;
    margin-left: 2vw;
    border: 2px solid white;

}

.Dream-7{
    height: 300px;
    width: 300px;
    margin-left: 2vw;
    border: 2px solid white;

}